
.hero-section {
    position: relative;
    z-index: 1;

    .slider-container {
        padding: 1rem 3rem !important;
        background-color: $LightCyan;
        padding: 0.6rem;
        cursor: pointer;

        .slider {
            padding: 5rem 0rem;
            position: relative;

            video {
                width: 100%;
                height: auto;
            }

            h2 {
                font-family: $secondary-font;
                font-size: 9rem;
                font-weight: bolder;
                color: $StrongCyan;
                letter-spacing: 1.5rem;
                word-spacing: 2.5rem;
                position: absolute;
                top: 2%;
                left: 18%;
                z-index: 1;
            }

            .slider-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                top: 30%;

                .left {
                    width: 35% !important;

                    span {
                        font-family: $primary-font;
                        color: $DarkBlue;
                        font-size: 0.7rem;
                    }

                    h3 {
                        font-family: $secondary-font;
                        color: $DarkBlue;
                        font-size: 4rem;
                        font-weight: bolder;
                    }
                }

                .right {
                    width: 25%;

                    p {
                        font-family: $secondary-font;
                        color: $DarkGray;
                        font-size: 1.2rem;
                    }

                    .btn {
                        font-family: $secondary-font;
                        color: $White;
                        background-color: $DarkBlue;
                        border: none;
                        outline: none;
                        font-size: 0.9rem;
                        padding: 0.6rem 2rem;
                        border-radius: 5rem;
                        transition-duration: 0.5s;
                        cursor: pointer;
                        position: relative;
                        z-index: 999;

                        &:hover,
                        &:focus,
                        &:active {
                            background-color: $Orange;
                        }
                    }

                }

            }
        }
    }

    .svg-container {
        position: absolute;
        bottom:0;
        left: 0;
        z-index: 999 !important;
        width: 100%;
        height: auto;
        border-bottom: 1.5rem solid $StrongCyan !important;
        svg {
            width: 100%;
            height: auto;
            fill: $StrongCyan !important;
        }
    }
}






.swiper-button-next,
.swiper-button-prev {
    width: 40px !important;
    height: 40px !important;
}

.swiper-button-next::after {
    content: '→' !important;
    font-size: 24px;
    color: $DarkBlue !important;

}

.swiper-button-prev::after {
    content: '←' !important;
    font-size: 24px;
    color: $DarkBlue !important;
}

















/* Mobil (Telefon) */
@media (max-width: 767px) {
    .slider-container {
        padding: 0.5rem !important;
        display: block;

        .slider {
            padding: 0 !important;
            position: static;
            display: block;

            h2 {
                display: none;
            }

            video {
                width: 100%;
            }


            .slider-content {
                margin: 0;
                padding: 0 !important;
                width: 100%;
                position: static;
                display: block;

                .left {
                    width: 100% !important;
                }

                .right {
                    width: 100%;
                }
            }
        }
    }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {}

/* Desktop */
@media (min-width: 1024px) {
    /* Desktop üçün tərtibat */
}