.wishlist{
    .add-to-cart{
        font-family: $secondary-font;
        color: $White;
        background-color: $DarkBlue;
        border: 1px solid $DarkBlue;
        outline: none;
        font-size: 0.9rem;
        padding: 0.5rem 2rem;
        border-radius: 5rem;
        transition-duration: 0.5s;
        cursor: pointer !important;
        position: relative;
        z-index: 999;
      
        &:hover {
            background-color: $Orange;
        }
      }
      
    
     h2{
        text-align: center;
        padding: 1.5rem;
        font-size: 2.5rem;
        font-weight: bolder;
        font-family: $secondary-font;
        color: var(--dark-blue);
     }
     h3{
        width: 30%;
        border: 2px solid $DarkBlue;
        padding: 1.5rem;
        font-size: 2.5rem;
        font-weight: bolder;
        font-family: $secondary-font;
        color: $DarkBlue;
        border-radius: 10px;
        margin-top: 4rem;
        span{
        font-size: 2.5rem;
        color:orange;
        font-family: $primary-font;
    
        }
    
     }
    
     .head{
        th{
            color: $White;
            background-color: $StrongCyan;
            font-size: 1.5rem;
            padding: 0.8rem;
        }
     }
     .body{
        td{
            color: $DarkBlue;
            font-family: $primary-font;
            font-weight: bolder;
            font-size: 1.1rem;
            img{
                margin: auto;
            }
        }
        .icon{
            font-size: 2rem;
            color: $StrongCyan;
            cursor: pointer;
            margin: auto;
        }
     }
    
    }
    
      
    
    .empty-cart{
        padding: 3rem;
        width: 100%;
        text-align: center;
        height: 60vh;
        .icon{
            display: block;
            text-align: center;
            margin: auto;
            color: $Orange;
            font-size: 10rem;
            margin-bottom: 2rem;
        }
        h2{
            font-size: 2.2rem;
            color: $DarkBlue;
        }
    }