@import './mixins';

.my-navbar {
    width: 100%;
    padding: 0.8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-cyan); /* Light mode */
    
    z-index: 1000; 
    
    &.chakra-ui-dark {
        background-color: var(--dark-blue); /* Dark mode background */
    }

    .logo {
        // width: 11%;
        img {
            width: 100%;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 2rem;

        .menu-item {
            display: flex;
            color: var(--dark-blue); /* Light mode color */
            font-weight: bolder;
            font-size: 18px;
            font-family: $primary-font;

            &.active {
                color: $StrongCyan !important;
                /* Light mode active color */
            }

            &:hover {
                color: $StrongCyan; /* Light mode hover color */
                transition-duration: 0.4s;
            }

            .icon {
                display: block;
                position: relative;
            }
        }

        .dropdown {
            border: 2px solid $DarkBlue;
        }
    }

    .icon {
        position: relative;
        display: flex;
        gap: 1.1rem;
        .search-icon {
            font-size: 1.5rem;
            font-weight: bolder;
            position: relative;
            top: .4rem;
            color: var(--dark-blue); /* Light mode color */
        }

        .icon-item {
            color: var(--dark-blue); /* Light mode color */
            font-size: 1.4rem;
            font-weight: bolder !important;
            font-family: $primary-font;

            .basket-icon, .wishlist-icon {
                position: absolute;
                top: -10%;
                background-color: var(--orange);
                color: #fff;
                font-weight: normal;
                font-family: $primary-font;
                padding: 0.1rem 0.4rem;
                font-size: 0.7rem;
                border-radius: 100px;
                cursor: pointer;
            }

            .basket-icon {
                left: 78%;
            }

            .wishlist-icon {
                right: 0%;
            }
            &.active {
                color: var(--dark-blue); /* Light mode active color */
            }

            
        }
    }

    .language-switcher {
        z-index: 1;
        position: relative;
        cursor: pointer;
 }

    .dropdown .dropdown-toggle::after {
        display: none !important;
    }

    .dropdown,
    .dropdown *,
    .btn-check:checked + .btn, 
    .btn.active {
        background-color: transparent !important;
        color: var(--dark-blue) !important; /* Light mode color */
        border: none !important;
    }

    .dropdown .dropdown-menu {
        border: 1px solid !important;
        background-color: var(--white) !important;
    }

    .users-name {
        color: var(--dark-blue); /* Light mode color */
        font-family: $secondary-font;
        font-size: 0.8rem;
        display: block;
        margin-top: 0.3rem;
    }

    .user-icon {
        position: relative;
        top: .1rem;
        cursor: pointer;
    }
    .icon-mode{
        position: relative;
        top:.5rem;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .search {
        color: $DarkBlue; /* Light mode color */
        font-family: $secondary-font;
        cursor: pointer;

        .btn-close {
            background-color:$LightCyan;
            border: 1px solid var(--dark-blue);
        }

        .modal-content {
            border: 2px solid var(--strong-cyan);
            overflow: hidden;
        }

        .modal-body {
            background-color: $LightCyan !important; /* Light mode background */
            border-top: 2px solid var(--light-cyan);
        }
    }

    .navbar-toggler{
        border: none !important;
        .navbar-toggler-icon{
            color: var(--dark-blue) !important;
        }
       
    }

    @include sm{
        
        .menu{
            height: 70vh !important;
            display: block;
            .menu-item{
                text-align: start !important;
                width: 20% !important;
            }
        }
        .icon{
            margin: 0rem !important;
            padding: 0rem !important;
            flex-direction: row;
            .icon-item{
                margin-right: .5rem !important;
            }
        }

        .wishlist-icon,.basket-icon{
            display: none !important;

        }
    }

    @include md{
        .menu{
            height: 70vh !important;
            display: block;
            .menu-item{
                text-align: start !important;
                width: 20% !important;
            }
        }
        .icon{
            margin: 0rem !important;
            padding: 0rem !important;
            flex-direction: row;
            .icon-item{
                margin-right: .5rem !important;
            }
        }

        .wishlist-icon,.basket-icon{
            display: none !important;

        }
    }
    @include lg{
        .menu{
            height: 61vh !important;
            display: block;
            .menu-item{
                text-align: start !important;
                width: 20% !important;
            }
        }
        .icon{ 
            margin: 0rem !important;
            padding: 0rem !important;
            flex-direction: row;
            .icon-item{
            margin-right: .5rem !important;
            }
        }

        .wishlist-icon,.basket-icon{
            display: none !important;

        }
    }
    
}
