*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    li{
      list-style: none;
    }
    a{
      text-decoration: none
    }
    text-decoration: none !important;
  // border: 1px solid red !important;
}
body,html{
  overflow-x: hidden;
}


@import 'variable';
@import 'notFoundPage';
@import 'banner';
@import 'header';
@import 'footer';
@import './home/home';
@import 'backToTop';
@import 'authPage';
@import './singleCard/card';
@import './faq/faq';
@import 'productDetails';
@import 'checkout';
@import 'about';
@import 'mixins';



//Contact-Us
@import './contactUs/contactUs';




.btn {
  font-family: var(--secondary-font);
  color: var(--white);
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  outline: none;
  font-size: 0.9rem;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  transition: background-color 0.5s, transform 0.3s; /* əlavə animasiya */
  cursor: pointer !important;
  position: relative;
  z-index: 999;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--orange);
    transform: scale(1.05); /* hover zamanı düyməni bir az böyüt */
  }
}


.hero-container {
  position: relative;
  padding: 0 !important;

  .hero {
      width: 100%;
      height: 65vh;
      background: var(--bg-gradient);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-bottom: 5px solid var(--white);

      h2 {
          color: var(--dark-blue);
          font-family: var(--secondary-font);
          font-weight: bolder;
          font-size: 3.5rem;
          text-align: center;
          padding-top: 5%;
      }

      h5 {
          color: var(--dark-blue);
          font-family: var(--secondary-font);
          text-align: center;
      }
  }

  .svg-container {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999 !important;
      width: 100%;
      height: auto;

      svg {
          width: 100%;
          height: auto;
          fill: var(--white) !important;
      }
  }
}

// hero-end


//alet

.my-popup-class{
  background-color:#fcf7f5;
  border:1px solid $DarkBlue;
  border-radius: 3rem;

}
.my-confirm-button-class{
  background-color:$White;
  border: 2px solid $DarkBlue;
  color: #fff;
  background-color: $DarkBlue;
  padding: 0.5rem 1.5rem;
}
.my-title-class{
 color: $DarkBlue;
 
}



.modal-backdrop {
  display: none;
}
.modal-open{
  padding: 0rem !important;
}
.chakra-ui-light{
  padding: 0rem !important;
}


//Table

.table{
  .head{
    th{
        color: $White;
        background-color: $StrongCyan;
        font-size: 1.5rem;
        padding: 0.8rem;
    }
  }
  .body{
    td{
        color: $DarkBlue;
        font-family: $primary-font;
        font-weight: bolder;
        font-size: 1.1rem;
        img{
            margin: auto;
        }
    }
   
  }
}